<div class="page-container">
    <div class="habilidades-seccion1">
        <h2 style="text-transform: uppercase;">Conocimientos</h2>
        <div class="d-flex flex-column flex-1 pt-5 px-4">
            <span class="titulo-conocimientos">Lenguajes de Programación</span>
            <div class="skill">
                <div class="icono-skill">
                    <img src="../../../assets/iconos/java.png" />
                </div>
                <div class="d-flex flex-column flex-4 pl-4">
                    <span class="text-sm blanco">Java</span>
                    <nz-progress class="progress-skill" [nzPercent]="55" [nzShowInfo]="false"></nz-progress>
                </div>
            </div>
            <div class="skill">
                <div class="icono-skill">
                    <img src="../../../assets/iconos/python.png" />
                </div>
                <div class="d-flex flex-column flex-4 pl-4">
                    <span class="text-sm blanco">Python</span>
                    <nz-progress class="progress-skill" [nzPercent]="70" [nzShowInfo]="false"></nz-progress>
                </div>
            </div>
            <div class="skill">
                <div class="icono-skill">
                    <img src="../../../assets/iconos/javascript.png" />
                </div>
                <div class="d-flex flex-column flex-4 pl-4">
                    <span class="text-sm blanco">Javascript</span>
                    <nz-progress class="progress-skill" [nzPercent]="65" [nzShowInfo]="false"></nz-progress>
                </div>
            </div>
            <div class="skill">
                <div class="icono-skill">
                    <img src="../../../assets/iconos/java.png" />
                </div>
                <div class="d-flex flex-column flex-4 pl-4">
                    <span class="text-sm blanco">SQL</span>
                    <nz-progress class="progress-skill" [nzPercent]="45" [nzShowInfo]="false"></nz-progress>
                </div>
            </div>
        </div>
    </div>
    <div class="habilidades-seccion2">
        <div class="d-flex flex-column flex-1 pt-5 px-4">
            <span class="titulo-conocimientos">Tenologías de desarrollo</span>
            <div class="skill">
                <div class="icono-skill">
                    <img src="../../../assets/iconos/angular.png" />
                </div>
                <div class="d-flex flex-column flex-4 pl-4">
                    <span class="text-sm blanco">Angular</span>
                    <nz-progress class="progress-skill" [nzPercent]="50" [nzShowInfo]="false"></nz-progress>
                </div>
            </div>
            <div class="skill">
                <div class="icono-skill">
                    <img src="../../../assets/iconos/ionic.png" />
                </div>
                <div class="d-flex flex-column flex-4 pl-4">
                    <span class="text-sm blanco">Ionic</span>
                    <nz-progress class="progress-skill" [nzPercent]="50" [nzShowInfo]="false"></nz-progress>
                </div>
            </div>
            <div class="skill">
                <div class="icono-skill">
                    <img src="../../../assets/iconos/javascript.png" />
                </div>
                <div class="d-flex flex-column flex-4 pl-4">
                    <span class="text-sm blanco">React y React Native</span>
                    <nz-progress class="progress-skill" [nzPercent]="75" [nzShowInfo]="false"></nz-progress>
                </div>
            </div>
            <div class="skill">
                <div class="icono-skill">
                    <img src="../../../assets/iconos/django.png" />
                </div>
                <div class="d-flex flex-column flex-4 pl-4">
                    <span class="text-sm blanco">Django</span>
                    <nz-progress class="progress-skill" [nzPercent]="80" [nzShowInfo]="false"></nz-progress>
                </div>
            </div>
        </div>
    </div>
</div>
