@import '../../../styles/colores.scss';

.estudios-seccion {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
    // border-left: 2px solid $azul-claro;
    // border-bottom: 2px solid $azul-claro;
    padding: 5rem;

    h2 {
        padding-left: 0.5rem;
        margin-right: auto;
        color: $azul-claro;
        border-bottom: 2px solid $azul-claro;
        border-left: 2px solid $azul-claro;
    }
}

@media (max-width: 991px) {
    .estudios-seccion {
        height: 100% !important;
        width: 100%;
        border: none;
        padding: 5rem 0 4rem 0rem !important;
    }
}

.titulo-animado {
    border-right: 2px solid transparent;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter-estudios 2s steps(36) 1s 1 normal both,
    blinkTextCursor 500ms steps(36) 14 normal;
}
  
@keyframes typewriter-estudios {
    from {
      width: 0;
    }
    to {
      width: 4.7em;
    }
}
  
@keyframes blinkTextCursor {
    from {
        border-right: transparent;
    }
    to {
        border-right-color: $blanco;
    }
}
