<div id="Servicios" class="page-container">
    <div class="servicios-seccion1">
        <h2 style="text-transform: uppercase;" class="titulo-animado ml-4 ml-lg-0">Servicios</h2>
        <div class="d-flex flex-row flex-1 pt-4 pt-lg-5 px-4">
            <div class="card-servicio animate__animated animate__fadeInUp">
                <div class="card-servicio-titulo">
                    <div class="icono-servicio">
                        <fa-icon class="azul-claro" [icon]="faLaptopCode"></fa-icon>
                    </div>
                    <span class="servicio-titulo mt-4">Apps Web</span>
                </div>
                <div class="card-servicio-contenido">
                    <span class="servicio-titulo">Apps Web</span>
                    <div class="separador-servicio"></div>
                    <span class="mt-3 blanco">Desarrollo de aplicaciones web responsive utilizando frameworks como React, Angular, Boostrap.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="servicios-seccion2">
        <div class="d-flex flex-column flex-1 pt-4 pt-lg-5">
            <div class="d-flex flex-column flex-lg-row flex-1 pb-2 px-4 px-lg-0">
                <div class="card-servicio animate__animated animate__fadeInUp animate__delay-1s mr-0 mr-lg-2">
                    <div class="card-servicio-titulo">
                        <div class="icono-servicio">
                            <fa-icon class="azul-claro" [icon]="faMobileAlt"></fa-icon>
                        </div>
                        <span class="servicio-titulo mt-4">Apps Móviles Android</span>
                    </div>
                    <div class="card-servicio-contenido">
                        <span class="servicio-titulo">Apps Móviles Android</span>
                        <div class="separador-servicio"></div>
                        <span class="mt-3 blanco">Desarrollo de aplicaciones móviles con tecnologías híbridas como Ionic React Native, experiencia en despliegue para Android.</span>
                    </div>
                </div>
                <div class="card-servicio animate__animated animate__fadeInUp animate__delay-2s ml-0 ml-lg-2 mt-4 mt-lg-0">
                    <div class="card-servicio-titulo">
                        <div class="icono-servicio">
                            <fa-icon class="azul-claro" [icon]="faFileCode"></fa-icon>
                        </div>
                        <span class="servicio-titulo mt-4">Api's Rest</span>
                    </div>
                    <div class="card-servicio-contenido">
                        <span class="servicio-titulo">Api's Rest</span>
                        <div class="separador-servicio"></div>
                        <span class="mt-3 blanco">Desarrollo de api's rest en frameworks como Django y Spring Boot: CRUDs, autenticación y autorización.</span>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column flex-lg-row flex-1 pt-lg-3 pb-lg-1 my-4 my-lg-0 px-4 px-lg-0">
                <div class="card-servicio animate__animated animate__fadeInUp animate__delay-3s">
                    <div class="card-servicio-titulo">
                        <div class="icono-servicio">
                            <fa-icon class="azul-claro" [icon]="faCreditCard"></fa-icon>
                        </div>
                        <span class="servicio-titulo mt-4">Pasarela de pagos con Stripe</span>
                    </div>
                    <div class="card-servicio-contenido">
                        <span class="servicio-titulo">Pasarela de pagos con Stripe</span>
                        <div class="separador-servicio"></div>
                        <span class="mt-3 blanco">Conocimiento en integración de pagos mediante Stripe. Pagos, tokenización, pagos con referencia, etc.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
