@import '../../../styles/colores.scss';

.home-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    height: 90vh;
    padding: 1.5rem 0.2rem 0rem 5rem;
    width: 100vw;
}

.home-portada {
    flex: 1;
    height: 100%;
    background-color: $negro;
}

.home-portada-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;

    background-image: url("../../../assets/perfil.png");
    background-color: $negro;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.social-toolbar {
    display: flex;
    flex-direction: row;
    // flex: 1;
    justify-content: space-between;
    margin: 2rem 0.5rem;
}


.home-body {
    flex: 2;
    flex-direction: column;
    height: 100%;
    padding: 2rem 1rem;
    
    .home-body-container {
        display: flex;
        flex-direction: column;
        border: 1px solid $azul;
        border-left: none;
        height: 100%;
        padding: 2.5rem 0.5rem;
    }
    
    h2 {
        padding-left: 0.5rem;
        margin-right: auto;
        color: $azul-claro;
        border-bottom: 2px solid $azul-claro;
        border-left: 2px solid $azul-claro;
    }
}

.icon-dot {
    display: flex;
    justify-content: center;
    align-items: center;
    width:  2.5rem;
    height: 2.5rem;
    border: 2px solid $azul;
    border-radius: 50%;
    
    img {
        // border-radius: 50%;
        width:  2rem;
        height: 2rem;
    }
}

// Responsivos

@media (max-width: 991px) {
    .home-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0;
    }

    .home-portada {
        width: 100%;
    }

    .home-portada-container {
        width: 100%;
        height: 100vh;
    }


    .home-body {
        width: 100%;
        padding: 0;
        padding-top: 2rem;
        
        .home-body-container {
            width: 100%;
            padding: 0;
            border: none;
            border-top: 1px solid $azul;
            padding: 2rem 1rem;
        }
    }

    .home-datos {
        height: 35vh;
    }
}

.nombre-animado1 {
    border-right: 2px solid transparent;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter-home1 1.5s steps(36) 1s 1 normal both,
    blinkTextCursor 500ms steps(36) 5 normal;
}

.nombre-animado2 {
    border-right: 2px solid transparent;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter-home1 1.5s steps(36) 2.5s 1 normal both,
    blinkTextCursor 500ms steps(36) 3s 8 normal;
}

.titulo-animado {
    border-right: 2px solid transparent;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter-home 2s steps(36) 1s 1 normal both,
    blinkTextCursor 500ms steps(36) 14 normal;
}

.titulo-animado2 {
    border-right: 2px solid transparent;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter-home2 2s steps(36) 1s 1 normal both,
    blinkTextCursor 500ms steps(36) 14 normal;
}

@keyframes typewriter-home {
    from {
        width: 0;
    }
    to {
        width: 9em;
    }
}

@keyframes typewriter-home1 {
    from {
        width: 0;
    }
    to {
        width: 3.3em;
    }
}

@keyframes typewriter-home2 {
    from {
        width: 0;
    }
    to {
        width: 5em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right: transparent;
    }
    to {
        border-right-color: $blanco;
    }
}
