@import '../../../styles/colores.scss';

.menu.inactivo {
    left: -200% !important;
    transition: left 0.6s ease 0s;
}

.menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: $azul;
    opacity: 80%;
    top: 0;
    left: 0;
    z-index: 8000;
    transition: left 0.6s ease 0s;

    .menu-list {
        list-style: none;
        margin-left: 5rem;
    }

    .menu-link {
        font-size: 40pt;
        font-weight: bold;
        color: $blanco;
        margin: 1.5rem 0;
        
        a {
            padding: 0.8rem;
            border-bottom: 2px solid transparent;
            border-left:   2px solid transparent;
        }
    }

    .menu-link.activo a, .menu-link:hover a {
        border-bottom-color: $blanco;
        border-left-color: $blanco;
    }
}

.menu-bar {
    display: flex;
    position: absolute;
    bottom: 0;
    flex-direction: row;
    align-items: center;
    padding: 0rem 0rem 0rem 5rem;
    height: 10vh;
}

.icono-menu {
    width: 2rem;
}

.btn-menu, .btn-menu:hover, .btn-menu:focus {
    background-color: transparent !important;
    border: none;
    outline: none;

    .ng-fa-icon {
        font-size: 2rem;
        color: $azul;
    }
}

.menu-bar-slide {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5rem;
}

.menu-seccion {
    display: flex;
    align-items: center;
    cursor: pointer;

    .menu-seccion-dot {
        height: 1rem;
        width:  1rem;
        border-radius: 50%;
        border: 2px solid $azul;
    }

    .menu-titulo {
        display: none;
        transition: all 8s;

    }
}

.menu-seccion:hover {
    .menu-seccion-dot {
        background-color: $azul;
    }
    .menu-titulo {
        display: block;
        transition: all 8s;
    }
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

// REsponsivo

@media (max-width: 991px) {
    .menu-bar {
        top: 0;
        bottom: 0;
        padding: 0;
        height: 8vh;
        width: 100%;
    }

    .menu-bar-slide {
        display: none;
    }

    .titulo-menu {
        margin-left: auto !important;
        margin-right: 1rem;
    }

    .menu-list {
        margin-left: 0rem !important;
    }

    .menu-link {
        font-size: 28pt !important;
    }
}