@import '../../../styles/colores.scss';

.menu-bar {
    display: flex;
    position: absolute;
    bottom: 0;
    flex-direction: row;
    align-items: center;
    // width: 100%;
    height: 10vh;
}