<div class="timeline-container">
    <div class="timeline-bar">
        <div *ngFor="let dot of dotLines"  class="timeline-dot animate__animated animate__fadeInUp">
            <div [class]="getClassInfo(dot)">
                <div class="circle"></div>
                <span class="text-sm bold blanco texto-animado">{{ dot.year }}</span>
                <span class="text-xs blanco animate__animated animate__fadeInUp animate__delay-2s">{{ dot.descripcion }}</span>
            </div>
            {{ dot.id }}
        </div>
    </div>
</div>
