@import "../../../styles/colores.scss";

.carousel-proyectos {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  padding: 5rem 0 5rem 5rem;

  h2 {
    padding-left: 0.5rem;
    margin-right: auto;
    color: $azul-claro;
    border-bottom: 2px solid $azul-claro;
    border-left: 2px solid $azul-claro;
  }
}

.info-proyectos {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 2;
  padding: 5rem 5rem 5rem 0;
}

.carousel-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
  height: 100%;

  .carousel-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
  }

  .carousel-controls-responsivo {
    display: none;
  }

  .btn-carousel,
  .btn-carousel:hover,
  .btn-carousel:focus {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent !important;
    border: 1px solid $azul-claro;
    outline: none;

    .ng-fa-icon {
      font-size: 1.8rem;
      color: $azul;
    }
  }

  .carousel-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    padding: 0rem 1.5rem;
  }

  .carousel-item-seleccionado {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1rem 0;

    img {
      width: 100%;
    }
  }

  .carousel-item-oculto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    img {
      // filter: grayscale(75%);
      // filter: blur(1px);
      opacity: 0.35;
      width: 90%;
    }
  }

  h3 {
    color: white;
  }
}

.borde-right {
  border-right: 2px solid $azul-claro;
}

@media (max-width: 991px) {
  .carousel-proyectos {
    height: 100%;
    width: 100%;
    border: none;
    padding: 5rem 0 0rem 0rem !important;
  }

  .carousel-container {
    flex-direction: column;
  }

  .carousel-controls {
    display: none !important;
  }

  .carousel-controls-responsivo {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .carousel-items {
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    padding: 0 !important;
  }

  .carousel-item-seleccionado {
    width: 100% !important;
    z-index: 5;

    img {
      width: 200% !important;
    }
  }

  .info-proyectos {
    width: 100%;
    padding: 2rem 1.5rem !important;

    .borde-right {
      border: none !important;
    }
  }
}

.titulo-animado {
  border-right: 2px solid transparent;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter-proyectos 2s steps(36) 1s 1 normal both,
    blinkTextCursor 500ms steps(36) 14 normal;
}

@keyframes typewriter-proyectos {
  from {
    width: 0;
  }
  to {
    width: 5.5em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right: transparent;
  }
  to {
    border-right-color: $blanco;
  }
}
